@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');


/* ========= Universal Styles ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans';
}


/* ========= Shared Styles ========= */
.pink-color {
    color: #FF42A5;
}

.gradient-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pink-btn {
    border-radius: 25px;
    background: #FF42A5;
    color: white;
    border: 0;
    padding: 15px 26px;
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;

}

.primary-title {
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
}

/* ============== Nav Styles ============== */
.nav-section {
    margin: 35px 150px 0px 150px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 22px;
    align-items: center;
}

.nav-items li a {
    display: flex;
    text-decoration: none;
    gap: 30px;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-image {
    object-fit: cover;
    width: 60px;
    cursor: pointer;
}

.nav-follow-us-container {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
}

.logo-title {
    cursor: pointer;
    font-size: 2.8rem;
    font-weight: 700;
}

#cursor {
    cursor: pointer;
}

.tik-tok-icon {
    cursor: pointer;
}

.youtube-icon {
    cursor: pointer;
    color: rgba(246, 28, 13, 1);
}




/* ============ Banner Styles ============ */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-txt-area {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.banner-img-area {
    margin-right: 150px;
}

.banner-txt-area>h3 {
    color: #0B0223;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-txt-area>h1 {
    text-align: left;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;

}

.banner-txt-area>p {
    color: #534C64;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
}

.btn-area {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.blue-btn {
    border-radius: 25px;
    background: #4EC5F7;
    color: white;
    border: 0;
    padding: 15px 26px;
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}


.banner-photo {
    width: 550px;
}

/* ======== We are gamer(wag) Styles ====== */
.wag-section {
    margin: 35px 150px 50px 150px;
}

.wag-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wag-photo {
    width: 600px;
}

.wag-txt-area {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wag-txt-area>p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    width: 450px;
}

#wag-our-purpose {
    font-size: 1rem;
    font-weight: 600;
}


/* === Online Games Funny Videos Section(ogfv) Styles === */

.ogfv-section {
    margin: 35px 150px 50px 150px;
}


.ogfv-txt-area>h1 {
    text-align: center;
}

.ogfv-txt-area>p {
    color: #534C64;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 25px 0;
}

.ogfv-card-container {
    display: flex;
    justify-content: space-between;


}

.ogfv-photo {
    width: 250px;
}

.ogfv-card>p {
    width: 250px;
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

.ogfv-card-special {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.ogfv-card-special:hover {
    opacity: 0.6;
    border: 5px solid #FF42A5;
    border-radius: 5px;
}



/* == Play Instantly Section(pi) Styles == */

.pi-section {
    margin: 35px 150px 50px 150px;
}

.pi-container {
    display: flex;
    /* justify-content: space-around; */
}

.pi-txt-area {
    width: 350px;
    margin: auto;
    text-align: right;
}

.pi-txt-area>h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.pi-txt-area>p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.pi-img-container {
    position: relative;
    left: 55px;
    
}

.pi-img-1 {
    width: 400px;
    border-radius: 8px;
    
}

.pi-img-2 {
    width: 200px;
    border-radius: 5px;
    border: 2px solid white;
    position: relative;
    right: 500px;
    top: 50px;
    
}



/* == Other Games Section(og) Styles ==== */
.og-section {
    margin-top: 150px;

}

.og-container-1 {
    display: flex;
    position: relative;
    left: 120px;
}

.og-container-2 {
    display: flex;
    position: relative;
    left: 180px;
}

.all-games {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.all-games>span {
    margin-right: 15px;
    padding: 10px;
}

.all-games:hover {
    border: 2px solid #FF42A5;
    border-radius: 30px;
    color: #F948B2;
}



/* ====== Footer Section Styles ========= */

.footer-section {
    margin-top: 100px;
    height: 60vh;
    background: #0B0223;
}

.foot-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 100px;

}

.white {
    color: white;
}

.foot-logo-imgage {
    object-fit: cover;
    cursor: pointer;
}

.our-story {
    color: white;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 20px;
}

.our-story>p {
    cursor: pointer;
}

.social-icon {
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}

.fa-brands {
    cursor: pointer;
}

.privecy-policy {
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.privecy-policy>small {
    cursor: pointer;
}

.copyright {
    color: grey;
    text-align: center;
}




/* *** Responsive *** */

/* ======= Mobile Device Styles ======== */
@media screen and (max-width: 425px) {

    /* ====== Nav Mobile style ====== */


    /* ====== Banner Mobile style ====== */

}


/* ======== Medium Device Styles ======== */
@media screen and (min-width: 425px) and (max-width: 768px) {}